In [3]:
from file_handler import read_csv, read_excel, read_json, read_db

df_csv = read_csv("students.csv")
print(df_csv.head())

df_excel = read_excel("students.xlsx")
print(df_excel.head())

df_json = read_json("students.json")
print(df_json.head())

df_db = read_db("students.db", "SELECT * FROM students")
print(df_db.head())

   id   name  age grade
0   1  Ahmed   20     A
1   2   Mona   22     B
2   3   Omar   21     A
3   4   Sara   23     C
   id   name  age grade
0   1  Ahmed   20     A
1   2   Mona   22     B
2   3   Omar   21     A
3   4   Sara   23     C
   id   name  age grade
0   1  Ahmed   20     A
1   2   Mona   22     B
2   3   Omar   21     A
3   4   Sara   23     C
   id   name  age grade
0   1  Ahmed   20     A
1   2   Mona   22     B
2   3   Omar   21     A
3   4   Sara   23     C

In [6]:
from file_handler import save_csv, save_excel, save_json, save_db

save_csv(df_csv, "students.csv")

save_excel(df_excel, "students.xlsx")

save_json(df_json, "students.json")

save_db(df_db, "students.db", "students")

print("Data saved successfully!")

Data saved successfully!

In [15]:
import pandas as pd
from preprocessing import (
    check_data_types,
    convert_data_type,
    check_missing_values,
    fill_missing_with_mean,
    fill_missing_with_median,
    fill_missing_with_mode,
    drop_missing
)

In [ ]:
# Read the dataset
df = pd.read_csv("t_shirts.csv")
print("Original Data:")
print(df.head())

Original Data:
  Date ordered Order number Brand Size  Color   Design  Price Delivery status
0   2016-05-05      SDH-YU0  Yolo    L    red   spiral  14.47         damaged
1   2016-05-06      SDH-YU1  Yolo  XXL  green   spiral  16.24         delayed
2   2016-05-07      SDH-YU2  BLOT   XL  black  Stripes  14.32       delivered
3   2016-05-08      SDH-YU3  Kent  XXL  green    plain  14.07         damaged
4   2016-05-09      SDH-YU4  BUCK   XL  white   spiral  15.56  order received

In [20]:
#Convert column type
df = convert_data_type(df, "Price", int)
df

,Date ordered,Order number,Brand,Size,Color,Design,Price,Delivery status
0,2016-05-05,SDH-YU0,Yolo,L,red,spiral,14,damaged
1,2016-05-06,SDH-YU1,Yolo,XXL,green,spiral,16,delayed
2,2016-05-07,SDH-YU2,BLOT,XL,black,Stripes,14,delivered
3,2016-05-08,SDH-YU3,Kent,XXL,green,plain,14,damaged
4,2016-05-09,SDH-YU4,BUCK,XL,white,spiral,15,order received
...,...,...,...,...,...,...,...,...
495,2017-09-12,SDH-YU495,Wang,XS,green,diamond,15,damaged
496,2017-09-13,SDH-YU496,BUCK,M,black,Stripes,14,shipping
497,2017-09-14,SDH-YU497,Kent,XXL,purple,plain,15,shipping
498,2017-09-15,SDH-YU498,Yolo,S,red,plain,13,order received
499,2017-09-16,SDH-YU499,BLOT,S,black,spiral,14,shipping

In [26]:
#missing values
check_missing_values(df)

Date ordered       0
Order number       0
Brand              0
Size               0
Color              0
Design             0
Price              0
Delivery status    0
dtype: int64

In [28]:
#Fill missing values
df = fill_missing_with_mean(df, "Price")
df

,Date ordered,Order number,Brand,Size,Color,Design,Price,Delivery status
0,2016-05-05,SDH-YU0,Yolo,L,red,spiral,14,damaged
1,2016-05-06,SDH-YU1,Yolo,XXL,green,spiral,16,delayed
2,2016-05-07,SDH-YU2,BLOT,XL,black,Stripes,14,delivered
3,2016-05-08,SDH-YU3,Kent,XXL,green,plain,14,damaged
4,2016-05-09,SDH-YU4,BUCK,XL,white,spiral,15,order received
...,...,...,...,...,...,...,...,...
495,2017-09-12,SDH-YU495,Wang,XS,green,diamond,15,damaged
496,2017-09-13,SDH-YU496,BUCK,M,black,Stripes,14,shipping
497,2017-09-14,SDH-YU497,Kent,XXL,purple,plain,15,shipping
498,2017-09-15,SDH-YU498,Yolo,S,red,plain,13,order received
499,2017-09-16,SDH-YU499,BLOT,S,black,spiral,14,shipping

In [ ]:
#Drop rows with missing values
df = drop_missing(df)

In [31]:
#Final result
print(df.head())

  Date ordered Order number Brand Size  Color   Design  Price Delivery status
0   2016-05-05      SDH-YU0  Yolo    L    red   spiral     14         damaged
1   2016-05-06      SDH-YU1  Yolo  XXL  green   spiral     16         delayed
2   2016-05-07      SDH-YU2  BLOT   XL  black  Stripes     14       delivered
3   2016-05-08      SDH-YU3  Kent  XXL  green    plain     14         damaged
4   2016-05-09      SDH-YU4  BUCK   XL  white   spiral     15  order received